<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/signup">signup</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <h1>Hello <%=name %> </h1>
    <img src="/images/1.jpg"  width="300" alt="">
  

</body>
</html>

 

<!-- <%= %> values
<% %> tags for writing Js -->