<link rel="stylesheet" href="/styles/home.css">
<ul>
    <% if(isLogin) { %>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
   <% }else{ %>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
   <% } %>
   
    
    
</ul>